input:not([type=checkbox]).valid {
 background-color: #cdffcd !important;
 border: 1px solid lightgreen !important;
 background-image: none;
 color:black;
}

input:not([type=checkbox]).invalid {
 background-color: #ffd6cf !important;
 border: 1px solid tomato !important;
 background-image: none;
color:black;
}

.submit-button[disabled] {
  background-color: #888 !important;
  cursor: not-allowed !important;
}
